# ChoudhuryLucantoni1996-OR-MGFtoMoments

### Title: 
Numerical Computation of the Moments of a Probability Distribution from its Transform

### Abstract:
We present a simple, fast, and robust algorithm for numerically computing the first N moments (arbitrary N) of a nonnegative probability distribution from its Laplace-Stieltjes transform (continuous/mixed case) or z-transform (discrete case). The algorithm is based on numerically inverting an adaptively modified moment generating function. It only requires computation of the transform at several complex values of its argument. We also show that the high-order moments may be used in detecting the presence of exponential or geometric tails in distributions, and in case they are present the two parameters characterizing such a tail may be accurately computed. Several numerical examples of interest in the queueing literature illustrate the use of the algorithm. They include commonly used distributions as well as the waiting time, queue length, and busy period in queues with Poisson or more general Markovian arrival processes. Priority queues are also considered.

### Reference:
Choudhury GL, Lucantoni DM (1996) __Numerical Computation of the Moments of a Probability Distribution from its Transform.__ _Operations Research_ 44:368â€“381. https://doi.org/10.1287/opre.44.2.368

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import scipy.stats as spst
import pandas as pd

#import sys
#sys.path.insert(sys.path.index('')+1, 'D:/Github/pyfeng')
import pyfeng as pf

## `Mgf2Mom` class
* Section 6. "ALGORITHM 3: NUMERICAL INVERSION OF ADAPTIVELY MODIFIED MOMENT GENERATING FUNCTION (THE RECOMMENDED ALGORITHM)"

## Example 1 (Table 1)

In [3]:
mgf = lambda z: 1/(1 - 10 * z)
m = pf.Mgf2Mom(mgf)
mu = m.moments(100)

assert(np.isclose(mu[-1], 0.933262154e258, rtol=1e-8))

In [4]:
n_list = [1, 2, 3, 4, 5, 6, 10, 50, 100]
pd.DataFrame({'n': n_list, 'mom': mu[np.array(n_list)-1]})

     n            mom
0    1   1.000000e+01
1    2   2.000000e+02
2    3   6.000000e+03
3    4   2.400000e+05
4    5   1.200000e+07
5    6   7.200000e+08
6   10   3.628800e+16
7   50  3.041409e+114
8  100  9.332622e+257

## Example 2 (Table 2)

In [5]:
mgf = lambda z: 1/(1 - 0.1*z)
m = pf.Mgf2Mom(mgf)
mu = m.moments(100)

assert(np.isclose(mu[-1], 0.933262154e58, rtol=1e-8))

In [6]:
n_list = [1, 2, 3, 5, 9, 10, 11, 12, 20, 50, 100]
pd.DataFrame({'n': n_list, 'mom': mu[np.array(n_list)-1]})

      n           mom
0     1  1.000000e-01
1     2  2.000000e-02
2     3  6.000000e-03
3     5  1.200000e-03
4     9  3.628800e-04
5    10  3.628800e-04
6    11  3.991680e-04
7    12  4.790016e-04
8    20  2.432902e-02
9    50  3.041409e+14
10  100  9.332622e+57

### Example 3 (Table 3)

In [7]:
mgf = lambda s: (np.exp(s) - 1) / s
m = pf.Mgf2Mom(mgf)
mu = m.moments(100)

assert(np.isclose(mu[-1], 0.990099010e-2, rtol=1e-8))

In [8]:
n_list = [1, 2, 4, 6, 8, 10, 15, 20, 25, 50, 100]
for n in n_list:
    print(f'n = {n:3d}, mu_n = {mu[n-1]:1.8e}')

n =   1, mu_n = 4.99999960e-01
n =   2, mu_n = 3.33333334e-01
n =   4, mu_n = 2.00000000e-01
n =   6, mu_n = 1.42857143e-01
n =   8, mu_n = 1.11111111e-01
n =  10, mu_n = 9.09090909e-02
n =  15, mu_n = 6.25000000e-02
n =  20, mu_n = 4.76190476e-02
n =  25, mu_n = 3.84615385e-02
n =  50, mu_n = 1.96078431e-02
n = 100, mu_n = 9.90099010e-03

### Example 4 (Table 4)

In [9]:
mgf = lambda z: (1 - z / 40.0)**(-40)
m = pf.Mgf2Mom(mgf)
mu = m.moments(100)

assert(np.isclose(mu[-1], 0.293357870e33, rtol=1e-8))

In [10]:
n_list = [1, 2, 3, 4, 5, 10, 20, 50, 100]
pd.DataFrame({'n': n_list, 'mom': mu[np.array(n_list)-1]})

     n           mom
0    1  1.000000e+00
1    2  1.025000e+00
2    3  1.076250e+00
3    4  1.156969e+00
4    5  1.272666e+00
5   10  2.843936e+00
6   20  6.183562e+01
7   50  6.384232e+09
8  100  2.933579e+32